*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: cursive;
}

:root{
    --color1: rgb(137, 162, 62);
    --color2: rgb(220, 252, 220);
    --color3: rgb(124, 115, 52) ;
    --color4: rgb(96, 166, 123) ;
    --color5: rgb(151, 208, 147) ;
    --color5: rgb(84, 111, 64) ;
}

ul:nth-of-type(1){
   
}
li {
    display: inline-block;
}

h1, h2, legend{
    text-align: center;
}
body {
    background-color: var(--color2);
}
body > div {
    margin: 0 auto;
    min-width: 280px;
    max-width: 641px;
    border: 1px solid red;
}

form {
    color: rgba(43, 20, 10, 0.8);
    border-radius: 0.5em;
    background-color: var(--color4);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 1em;
}

.one{

}
.two {
    text-align: center;
}
.three{

}
.four {
    grid-column: 2;
}

textarea{
    resize: none;
    border-radius: 0.5em;
    padding: 0.5em;
    width: 100%;
}

fieldset{
    display: flex;
    flex-flow: column;
    max-width: 100%;
    margin: 0.5em;
    border: 2px solid var(--color3);
    border-radius: 0.5em;
    padding: 0.5em;  
}
input[type=text]{
    width: 100%;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 639px) {
    form {
      display: flex;
      flex-flow: column;
    }
  }